extends basic.pug

block scripts
    <script type="importmap">
    |{
    |      "imports": {
    |      "three": "https://unpkg.com/three@0.157.0/build/three.module.js",
    |      "three/addons/": "https://unpkg.com/three@0.157.0/examples/jsm/"
    |    }
    |}
    </script>


block content

    <div class="row">
        <div class="col-sm-8">

            <div id="webgl_chart"></div>

            <div class="alert alert-secondary rounded-0 py-2" role="alert">
                <p style="font-size: 0.8rem;" class="mb-2"><b>Rotate</b> - by clicking and holding the LEFT mouse button</p>
                <p style="font-size: 0.8rem;" class="mb-2"><b>Scale</b> - using the mouse wheel</p>
                <p style="font-size: 0.8rem;" class="mb-2"><b>Pan</b> - by clicking and holding the RIGHT mouse button</p>
            </div>

            <div class="alert alert-warning" role="alert">

            </div>
        </div>

        <div class="col-sm-4">

            include see_also.pug

        </div>
    </div>