extends basic.pug

block importmaps
    <script type="importmap">
    |{
    |      "imports": {
    |      "three": "https://unpkg.com/three@0.157.0/build/three.module.js",
    |      "three/addons/": "https://unpkg.com/three@0.157.0/examples/jsm/"
    |    }
    |}
    </script>


block content

    <div class="row">
        <div class="col-sm-8">

            <div id="webgl_chart">
                <div id="loading-container">
                    <div id="loading-progress"></div>
                </div>
            </div>

            <div class="alert alert-secondary rounded-0 py-2 user-select-none" role="alert">
                <p style="font-size: 0.8rem;" class="mb-2"><b>Rotate</b> - by clicking and holding the LEFT mouse button</p>
                <p style="font-size: 0.8rem;" class="mb-2"><b>Scale</b> - using the mouse wheel</p>
                <p style="font-size: 0.8rem;" class="mb-2"><b>Pan</b> - by clicking and holding the RIGHT mouse button</p>
            </div>

            <div class="alert alert-warning" role="alert">
                <p>The 5 francs coin of 1940 from France was minted during World War II and represents France with the depiction of Marianne on its obverse side. Marianne, a symbol of freedom and the republic, is typically portrayed as a woman with a Phrygian cap on her head, symbolizing liberty, making her one of the primary symbols of France.</p>
                <p>These coins were regularly minted during the Vichy regime when France was under Nazi German occupation. They were used as currency during that time, and their design was relatively typical for French coins of that period.</p>
            </div>

        </div>

        <div class="col-sm-4">

            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Country</td>
                            <td>France</td>
                        </tr>
                        <tr>
                            <td>Year</td>
                            <td>1940</td>
                        </tr>
                        <tr>
                            <td>Coin type</td>
                            <td>Circulation coins</td>
                        </tr>
                        <tr>
                            <td>Composition</td>
                            <td>Aluminium-Bronze</td>
                        </tr>
                        <tr>
                            <td>Weight</td>
                            <td>12 gr</td>
                        </tr>
                        <tr>
                            <td>Diameter</td>
                            <td>31 mm</td>
                        </tr>
                        <tr>
                            <td>Thickness</td>
                            <td>2.3 mm</td>
                        </tr>
                        <tr>
                            <td>Mintage</td>
                            <td>39 million</td>
                        </tr>
                        <tr>
                            <td>Price for perfect condition</td>
                            <td>$6.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            include see_also.pug

        </div>
    </div>