<section class="">
    <footer class=" text-white" style="background-color: #0a4275;">
        <div class="container p-4 pb-0">
        <section class="text-center">
            <p class="d-flex justify-content-center align-items-center">
            If you like all of this, please buy me a coffee
            </p>
        </section>
        </div>

        <div class="p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <div class="table-responsive">
            <table class="w-100">
            <tr>
                <td ><span style="user-select: none" class="text-nowrap">BTC (Bitcoin): </span></td>
                <td ><span class="ms-3" id="btc_donate"></span></td>
            </tr>
            <tr>
                <td><span style="user-select: none" class="text-nowrap">XMR (Monero): </span></td>
                <td ><span class="ms-3" id="xmr_donate"></span></td>
            </tr>
            <tr>
                <td><span style="user-select: none" class="text-nowrap">LTC (Litecoin): </span></td>
                <td ><span class="ms-3" id="ltc_donate"></span></td>
            </tr>
            </table>
        </div>
        </div>

    </footer>
</section>