div(class='card')
    div(class='card-header') Siehe auch
    div(class='card-body')
        div(class='list-group')

            each page in pages
                if pages[index]['theme'] != page['theme']
                    - continue

                - var classList = 'list-group-item list-group-item-action'
                if pages[index]['slug'] == page['slug']
                    - classList = classList+' active'

                a(class=classList, href='/de/'+page['slug']+'.html') #{page['title']}