.image-container {
    float: left;
    margin-right: 30px;
    shape-outside: rectangle();
    shape-margin: 10px;
    width: 33.33%;
}

.image-container img {
    width: 100%;
    height: auto;  
    max-width: 480px; 
}